main{
	text-align: center;
}

main{
	margin-top: 50%
}


body{
	background-image: url("splashscreen battleships.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

header, main, footer{
	min-width: 855px;
}

.button1{
	background-color: #6666ff; 
	font-family: 'Unlock', cursive;
    border: double;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    float:left;
}

.button2{
	background-color: #6666ff; 
	font-family: 'Unlock', cursive;
    border: double;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    float: right;
}


.company{
	font-family: 'Unlock', cursive;
	margin-top:30%;
	clear:both;
}